.inputcom {
  background-color: #202225;
  width: 90%;
  height: 2.3rem;
  border: none;
  color: white;
  outline: none;
  font-size: 17px;
}
.details-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details-cont p {
  margin-top: 8px;
  width: 90%;
  margin-bottom: 10px;
}
.details-cont button {
  margin-top: 12px;
  width: 90%;
}
.auth-link {
  width: 90%;
  color: #099bd6;
  margin-top: 5px;
  text-decoration: none;
  cursor: pointer;
}
.contract {
  font-size: 0.8rem;
  padding-bottom: 1rem;
}
.contract span {
  color: #099bd6;
}